{% extends 'layout.html' %}
{% block content %}
    <!-- 步骤列表 -->
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-default" href="/flow/list/">
                <span class="glyphicon glyphicon-home" aria-hidden="true" style="margin-right: 5px"></span>
                返回
            </a>
            <button id="btnAdd" class="btn btn-default">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="margin-right: 5px"></span>
                添加步骤
            </button>
        </div>
        <div>
            <div class="bs-example" data-example-id="panel-without-body-with-table">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true" style="margin-right: 5px"></span>
                        <span style="font-weight: bold"> {{ row_object.name }} :</span>
                        <span style="font-style: italic; color: blue">{{ row_object.description }}</span>
                    </div>
                    <!-- Table -->
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>Agent</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in queryset %}
                            <tr sid="{{ obj.id }}">
                                <td>{{ obj.index }}</td>
                                <td>{{ obj.agent.name }}</td>
                                <td>
                                    <!--
                                    <input sid="{{ obj.id }}" class="btn btn-primary btn-xs btn-edit" type="button"
                                           value="编辑">
                                    <input sid="{{ obj.id }}" class="btn btn-danger btn-xs btn-delete" type="button"
                                           value="删除">
                                     -->
                                    <button sid="{{ obj.id }}" class="btn btn-default btn-xs btn-edit">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"
                                              style="margin-right: 3px"></span>
                                        编辑
                                    </button>
                                    <button sid="{{ obj.id }}" class="btn btn-default btn-xs btn-delete">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"
                                              style="margin-right: 3px"></span>
                                        删除
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- 列表结束 -->


    <!-- Modal 新建/编辑 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加步骤</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="formAdd" novalidate>
                        <div>
                            {% for field in form %}
                                <div class="form-group">
                                    <label for="exampleInputEmail1">{{ field.label }}</label>
                                    {{ field }}
                                    <span class="error-msg" style="color:red;">{{ field.errors }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                    <button type="button" id="btnSave" class="btn btn-primary">保 存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 删除 -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <h4>是否确定删除？</h4>
                <p>删除将导致数据丢失！</p>
                <p style="text-align: right">
                    <button id="btnDeleteConfirm" type="button" class="btn btn-danger">确 定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        // 设置全局变量记录订单ID用于删除
        var DELETE_ID;
        // 设置全局变量，用于判断myModal模态框是执行“新建”？还是“编辑”工作？
        var EDIT_ID;

        $(function () {
            bindBtnAddEvent();
            bindBtnSaveEvent();
            bindBtnDeleteEvent();
            bindBtnDeleteConfirmEvent();
            bindBtnEditEvent();
        })

        function bindBtnAddEvent() {
            $('#btnAdd').click(function () {

                // 清空对话框中的原有数据
                $('#formAdd')[0].reset();
                // 先设置对话框标题为“新建子流程”
                $('#myModalLabel').text('添加步骤');
                $('#myModal').modal('show');
            });
        }

        function bindBtnSaveEvent() {
            $('#btnSave').click(function () {
                // 清除所有验证错误信息
                $('.error-msg').empty();

                // 判断EDIT_ID
                if (EDIT_ID) {
                    // 编辑
                    doEdit();
                } else {
                    // 新建
                    doAdd();
                }
            });
        }

        function doEdit() {
            $.ajax({
                url: '/step/edit/?sid=' + EDIT_ID,
                type: 'post',
                data: $('#formAdd').serialize(),
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {
                        // alert('success');
                        // 清空表单，$('#formAdd')是jQuery对象，$('#formAdd')[0]是DOM对象
                        $('#formAdd')[0].reset();
                        // 关闭对话框
                        $('#myModal').modal('hide');
                        // 刷新页面
                        location.reload();

                    } else {
                        if (res.tips) {
                            // 被编辑的记录在数据库中不存在
                            alert(res.tips);
                        } else {
                            $.each(res.errors, function (name, errorList) {
                                $('#id_' + name).next().text(errorList[0]);
                            })
                        }

                    }
                }
            })
        }

        function doAdd() {
            // 处理表单信息
            $.ajax({
                url: '/step/add/',
                type: 'post',
                data: $('#formAdd').serialize(),
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {
                        // alert('success');
                        // 清空表单，$('#formAdd')是jQuery对象，$('#formAdd')[0]是DOM对象
                        $('#formAdd')[0].reset();
                        // 关闭对话框
                        $('#myModal').modal('hide');
                        // 刷新页面
                        location.reload();

                    } else {
                        $.each(res.errors, function (name, errorList) {
                            $('#id_' + name).next().text(errorList[0]);
                        })
                    }
                }
            })
        }

        function bindBtnDeleteEvent() {
            $('.btn-delete').click(function () {
                $('#deleteModal').modal('show');
                // 获取订单的ID
                DELETE_ID = $(this).attr('sid');
            });
        }

        function bindBtnDeleteConfirmEvent() {
            $('#btnDeleteConfirm').click(function () {
                $.ajax({
                    url: "/step/delete/",
                    type: 'GET',
                    data: {
                        sid: DELETE_ID
                    },
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            // 撤回对话框
                            // $('#deleteModal').modal('hide');
                            // 在页面上删除对应记录
                            // $('tr[uid="' + DELETE_ID + '"]').remove();

                            location.reload();
                        } else {
                            alert(res.errors)
                        }
                    }
                });
            });
        }

        function bindBtnEditEvent() {
            $('.btn-edit').click(function () {
                // 清空对话框中原有数据
                $('#formAdd')[0].reset();
                // 获取按钮的uid属性值
                var sid = $(this).attr('sid');
                EDIT_ID = sid;

                $.ajax({
                    url: '/step/detail/',
                    type: 'get',
                    data: {
                        sid: sid
                    },
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            $.each(res.data, function (key, value) {
                                $('#id_' + key).val(value);
                            })
                            // 复用新建订单对话框
                            // 先把对话框的标题改成“修改订单”
                            $('#myModalLabel').text('修改步骤');
                            // 再弹出对话框
                            $('#myModal').modal('show');
                        } else {

                        }
                    }
                })

            });
        }
    </script>
{% endblock %}